<h1>welcome to Bookers !!</h1>
<h4>In Bookers,</h4>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>
<li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <p>CopyRight Infratop.inc</p>